h1 + p::first-letter {
    float: left;
    color: darkred;
    border: 3px ridge darkgoldenrod;
    padding: 16px;
    background-color: gold;
    margin: 8px;
}

blockquote::before {
	content: '"';
}

blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

blockquote::after {
	content: '"';
}

a {
	color: darkred;
	text-decoration: none;
}

a:hover {
	color: darkorange;
}

a:visited {
	color: darkorchid
}