body {
    width: 60em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr;
    gap: 1px;
}

section {
    padding: 2em;
    margin: 1em;
}

#green {
    background-color: #8ffda7;
    grid-column: 1 / span 3;
    grid-row: 1;
}

#orange {
    background-color: #ffc788;
    grid-column: 1 / span 2;
    grid-row: 3;
}

#yellow {
    background-color: #ffff92;
    grid-column: 1;
    grid-row: 2;
}

#red {
    background-color: #ff919c;
    grid-column: 2;
    grid-row: 2;
}

#blue {
    background-color: #98d2ff;
    grid-column: 3;
    grid-row: 2 / span 2;
}

ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}
  
li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
}